.task-list-container {
  margin-top: 15px;
  list-style: none;
  height: 400px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.task-details {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.task-name {
  font-weight: 500;
}

.completed {
  text-decoration: line-through;
  color: #aaa;
  opacity: 0.8;
}

.tag {
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 12px;
  color: white;
}

.priority {
  background-color: #6c63ff;
}

.type {
  background-color: #00bfa6;
}


.task-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  background: #fafafa;
  padding: 10px 12px;
  border-radius: 8px;
}

.task-list:hover {
  background: #f0f4ff;
}

.task-buttons {
  display: flex;
  gap: 5px;
}

.task-buttons button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.done-btn {
  background-color: #4caf50;
  color: white;
}

.undo-btn {
  background-color: #ff9800;
  color: white;
}

.delete-btn {
  background-color: #f44336; 
  color: white;
}

.edit-btn {
  background-color: #2196f3; 
  color: white;
}

.edit-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  background-color: #f5f7ff;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #cdd9ff;
  margin-bottom: 8px;
}

.edit-inputs {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  flex: 1;
}

.edit-inputs input {
  border: 0;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  border-radius: 6px;
  padding: 8px;
}

.edit-inputs input:focus {
  outline: none;
}

.edit-inputs select {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
}

.edit-buttons {
  display: flex;
  gap: 8px;
}

.edit-buttons button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.edit-buttons button:first-child {
  background-color: #4caf50;
  color: white;
}

.edit-buttons button:last-child {
  background-color: #f44336;
  color: white;
}
