.title {
  margin-bottom: 20px;
}

.title h1 {
  font-size: 1.8rem;
  margin-bottom: 4px;
}

.title p {
  color: #555;
  margin-bottom: 15px;
}

.app-container {
  background: #fff;
  padding: 25px 30px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 80%;
  height: auto;
  min-width: 40%;
}